/*
  Author: Matthew Dobie
  Author URL: mattdobie.com
  Description: Style for Local Weather
*/


body {
  position: relative;
  text-align: center;
  background-color: #00564d;
  color: #00564d;
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  font-size: 14px;
  letter-spacing: 2px;
}

.top-margin-sm {
  margin-top: 15px;
}

.top-margin-md {
  margin-top: 40px;
}

.top-margin-lg {
  margin-top: 50px;
}

.icon {
  font-size: 2em;
}

h1 {
  letter-spacing: 3px;
  font-size: 1em;
}

#loading {
  color: white;
}

.temp-info {
  h2 {
    font-size: 7em;
    font-weight: 300;
    letter-spacing: 0;
    margin-bottom: 0;
  }
  p {
    letter-spacing: 3px;
    span {
      cursor: pointer;
      &.active {
        cursor: default;
        font-weight: 600;
      }
    }
  }
}

#description {
  font-size: 1.2em;
}

#main-icon {
  font-size: 1.5em;
  padding-left: 10px;
}

.bordered {
  border-left: 1.5px solid;
  border-right: 1.5px solid;
}

.sub {
  font-size: 1em;
  padding-top: 10px;
}

.details {
  font-weight: 300;
}

.padded {
  margin-left: 8%;
  margin-right: 8%;
}

#forecast {
  font-weight: 300;
  font-style: italic;
  font-size: 0.9em;
  
}

footer p {
  font-weight: lighter;
  font-size: 0.8em;
  #dark-sky {
    text-decoration: none;
    font-style: italic;
    color: white;
    opacity: 0;
  }
  #dark-sky:hover {
    text-decoration: underline;
  }
}


// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  
  body {
    font-size: 20px;
  }

  .top-margin {
    margin-top: 70px;
  }
  
}